
 
  
  section {
    border: 1px solid black;
    margin: 20px;
    padding: 20px;
    background-color: darkblue;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
  }

  h2 {
    margin-bottom: 10px;
    color: white;
  }

  p, li {
    margin-bottom: 5px;
    color: white;
  }
  h3 {
    margin-bottom: 10px;
    color: white;
  }
